<%= image_tag "Rectangle 14.svg", alt: "alttext", class: "shape" %>

<!-- Hero Banner -->

<section id="hero">
  <div class="container text-center mt-5">
    <h1 class="pt-4"><%= t(".title") %></h1>
    <h2><%= t(".subtitle") %></h2>
    <%= link_to t(".cta"), new_user_registration_path, class: "btn btn-primary mt-5" %>
  </div>
</section>

<!-- Statistics -->

<section id="statistics">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h3>+1.000.000</h3>
        <p><%= t(".stats1") %></p>
      </div>
      <div class="col-md-4 text-center">
        <h3>6</h3>
        <p><%= t(".stats2") %></p>
      </div>
      <div class="col-md-4 text-center">
        <h3>350.000.000</h3>
        <p><%= t(".stats3") %></p>
      </div>
    </div>
  </div>
</section>

<!-- benefício 1 -->

<section id="benefit1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="d-block d-md-none"><%= t(".benefit1") %></h2>
        <%= image_tag "Group 7.png", alt: "alttext", class: "shape-computer" %>
      </div>
      <div class="col-12 col-lg-6">
        <h2 class="d-none d-lg-block"><%= t(".benefit1") %></h2>
        <p class="my-4"><%= t(".description1") %></p>
      </div>
    </div>
  </div>
</section>

<!-- benefício 2 -->
<section id="benefit1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="d-none d-lg-block"><%= t(".benefit2") %></h2>
        <p class="d-none d-lg-block my-4"><%= t(".description2") %></p>
      </div>
      <div class="col-12 col-lg-6">
        <h2 class="d-block d-md-none"><%= t(".benefit2") %></h2>
        <%= image_tag "Group 8.png", alt: "alttext", class: "shape-computer" %>
        <p class="d-block d-md-none"><%= t(".description2") %></p>
      </div>
    </div>
  </div>
</section>

<!-- Matérias -->

<section id="materias">
  <div class="container text-center">
    <h2><span><%= t(".stats2") %></span></h2>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="subject-card">
          <p class="subject-icon"><i class="fas fa-square-root-alt fa-3x"></i></p>
          <p class="subject"><%= t(".math") %></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="subject-card">
          <p class="subject-icon"><i class="fas fa-paragraph fa-3x"></i></p>
          <p class="subject"><%= t(".essay") %></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="subject-card">
          <p class="subject-icon"><i class="fas fa-landmark fa-3x"></i></p>
          <p class="subject"><%= t(".history") %></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="subject-card">
          <p class="subject-icon"><i class="fas fa-dna fa-3x"></i></p>
          <p class="subject"><%= t(".biology") %></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="subject-card">
          <p class="subject-icon"><i class="fas fa-atom fa-3x"></i></p>
          <p class="subject"><%= t(".chemistry") %></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="subject-card">
          <p class="subject-icon"><i class="far fa-lightbulb fa-3x"></i></p>
          <p class="subject"><%= t(".physics") %></p>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-primary mt-5"><%= t(".cta2") %></a>
  </div>
</section>

<!-- Testemunhos -->

<div class="container section">
  <div class="row">
    <div class="col-12">
      <h2><%= t(".wts") %></h2>
      <ul>
        <li class="testimonial">
          <p><%= t(".testm") %></p>
        </li>
      </ul>
    </div>
  </div>
</div>
