<h1><%= t(".title") %></h1>

<h2><%= t(".benefit1") %></h2>
<p><%= t(".description1") %></p>
<h2><%= t(".benefit2") %></h2>
<p><%= t(".description2") %></p>
<h2><%= t(".benefit3") %></h2>
<p><%= t(".description3") %></p>

<h2><%= t(".action_section") %></h2>
<a href="#" class="btn btn-primary"><%= t(".cta") %></a>

<h2><%= t(".get_help") %></h2>
<ul>
  <li><%= t(".math") %></li>
  <li><%= t(".essay") %></li>
  <li><%= t(".history") %></li>
  <li><%= t(".biology") %></li>
  <li><%= t(".chemistry") %></li>
  <li><%= t(".physics") %></li>
</ul>

<a href="#" class="btn btn-primary"><%= t(".cta2") %></a>

<h2><%= t(".wts") %></h2>
<ul>
  <li><%= t(".testm") %></li>
</ul>

<a href="#"><%= t(".us") %></a>
<a href="#"><%= t(".contact") %></a>
