<%= image_tag "Rectangle 14.svg", alt: "alttext", class: "shape" %>

<!-- Hero Banner -->

<section id="hero" class="section">
  <div class="container text-center mt-5">
    <h1 class="pt-4"><%= t(".title") %></h1>
    <h2><%= t(".subtitle") %></h2>
    <%= link_to t(".cta"), new_user_registration_path, class: "btn btn-primary mt-5" %>
  </div>
</section>

<!-- Statistics -->

<section class="mt-5" id="statistics">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h3>+1.000.000</h3>
        <p><%= t(".stats1") %></p>
      </div>
      <div class="col-md-4 text-center">
        <h3>6</h3>
        <p><%= t(".stats2") %></p>
      </div>
      <div class="col-md-4 text-center">
        <h3>350.000.000</h3>
        <p><%= t(".stats3") %></p>
      </div>
    </div>
  </div>
</section>

<div class="container section">
<!-- benefício 1 -->
  <div class="row">
    <div class="col-12 col-xl-8">
      <h2 class="d-block d-sm-none"><%= t(".benefit1") %></h2>
    </div>
    <div class="col-12 col-xl-4">
      <h2 class="d-none d-xl-block" style="font-size: 32px;"><%= t(".benefit1") %></h2>
      <p class="my-4"><%= t(".description1") %></p>
    </div>
  </div>
</div>
<!-- fim benefício 1 -->
<!-- benefício 2 -->
<div id="ben2">
  <div class="container section">
    <div class="row">
      <div class="col-12 col-xl-4">
        <h2 class="d-none d-xl-block"><%= t(".benefit2") %></h2>
        <p class="d-none d-xl-block"><%= t(".description2") %></p>
      </div>
      <div class="col-12 col-xl-8">
        <h2 class="d-block d-sm-none"><%= t(".benefit2") %></h2>
        <p class="d-block d-sm-none"><%= t(".description2") %></p>
      </div>
    </div>
  </div>
</div>
<!-- fim do benefício 2 -->

<!-- benefício 3 -->
<div class="container section">
  <div class="row">
    <div class="col-12 col-xl-8">
      <h2 class="d-block d-sm-none"><%= t(".benefit3") %></h2>
    </div>
    <div class="col-12 col-xl-4">
      <h2 class="d-none d-xl-block"><%= t(".benefit3") %></h2>
      <p><%= t(".description3") %></p>
    </div>
  </div>
</div>
<!-- fim do benefício 3 -->

<div class="container section">
  <div class="row my-5">
    <div class="col-12 col-lx-12 text-center">
      <h2><%= t(".action_section") %></h2>
      <a href="#" class="btn btn-primary mt-5"><%= t(".cta") %></a>
    </div>
  </div>
</div>

  <div class="container section">
    <div class="row media text-center">
      <div class="col-12 col-xl-12">
      </div>
    </div>
  </div>

<div class="container section">
  <div class="row">
    <div class="col-12">
      <h2><%= t(".get_help") %></h2>
    </div>
    <div class="d-none d-xl-block">
      <div class="d-flex flex-wrap">
        <div class="col-xl-4">
          <span class="subject-card"><%= t(".math") %></span>
          <span class="subject-card"><%= t(".essay") %></span>
        </div>
        <div class="col-xl-4">
          <span class="subject-card"><%= t(".history") %></span>
          <span class="subject-card"><%= t(".biology") %></span>
        </div>
        <div class="col-xl-4">
          <span class="subject-card"><%= t(".chemistry") %></span>
          <span class="subject-card"><%= t(".physics") %></span>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-primary mt-5"><%= t(".cta2") %></a>
</div>
<div class="container section">
  <div class="row">
    <div class="col-12">
      <h2><%= t(".wts") %></h2>
      <ul>
        <li class="testimonial">
          <p><%= t(".testm") %></p>
        </li>
      </ul>
    </div>
  </div>
</div>
